/*
 *  Small screens
 */
@media(max-width: 500px) {
  .cover-full {
    border-bottom: 1px solid rgba(0,0,0,.3);
    height: 300px;
    position: relative;
  }

  .cover-full .cover-description {
    height: 100%;
    padding: 0 5% 20px;
    position: relative;
  }

  .cover-split .cover-space {
    height: 250px;
    position: relative;
  }

  .cover-split .user-details {
    padding: 0 5% 20px;
    position: relative;
  }

  .page-content {
    padding: 20px 5%;
  }
}
